.App {
  text-align: center;
}

.container {
  height: 100%;
}

@keyframes accordianAnimation {
  from {opacity: 0.0;}
  to {opacity: 1.0;}
}

.fullscreen {
  min-height: 100vh;
  background: #FFF;
  animation-name: accordianAnimation;
  animation-duration: 4s;
}

.todo-list {
  margin: 20px 20px 60px 20px;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 20px;
  background: #034EA2;
  color: #FFF;
}

.header h1 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.header button.back-btn + h1 {
  padding-left: 40px;
}

.back-btn {
  background: transparent;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-size: xxx-large;
  font-family: monospace;
  position: absolute;
}

.accordion {
  border-radius: 6px;
  margin-bottom: 20px;
  background: #FFF;
}

.accordion-header {
  display: flex;
  padding: 12px 14px;
  cursor: pointer;
  background: #F3F6F9;
  border: 1px solid #F3F6F9;
  border-radius: 3px;
}

.accordion-header h5, .accordion-body h5 {
  margin: 0;
  font-weight: 400;
  margin-right: 4px;
}

.accordion-header .badge {
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 0.9em;
}

.accordion-header .accordion-caret,
.dropdown-header  .dropdown-caret {
  color: #034EA2;
  rotate: 90deg;
  height: 20px;
  position: absolute;
  right: 30px;
  font-size: 28px;
  font-family: cursive;
}

.dropdown-header .dropdown-caret { 
  right: 0px;
}

.accordion-body {
  animation-name: accordianAnimation;
  animation-duration: 4s;
  padding: 10px 0px;
}

.section-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.tile-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.task-tile {
  background: #fff;
  padding: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.task-tile:hover {
  background: #F7F7F7;
}

.task-info {
  display: flex;
  gap: 10px;
  flex: 1;
}

.avatar {
  color: #034EA2;
  background: #FFF;
  border: 1px solid #034EA2;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.details {
  flex: 1;
  text-align: left;
}

.details h5 {
  margin: 5px 0px;
  color: #034EA2;
  text-align: left;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 500;
}

.status {
  display: inline-flex;
  align-items: baseline;
  gap: 5px;
  font-size: 0.9em;
  margin: 5px 0;
  float: inline-end;
}

.status-dot {
  width: 12px;
  height: 12px;
  background: #ff9800;
  border-radius: 50%;
}

.status-dot.pending {
  background: #D0D0D0;
}

.status-dot.completed {
  background: #048f2e;
}

.status-dropdown .status-dot {
  display: inline-block;
  margin-right: 10px;
}

.description {
  padding-bottom: 5px;
  font-size: 0.9em;
  color: #555;
}

.due-date {
  font-size: 0.85em;
  color: #888;
  margin-top: 5px;
  display: inline-block;
}

.actions {
  display: inline-flex;
  flex-direction: row;
  gap: 10px;
  float: inline-end;
  opacity: 0.0;
}

.task-tile:hover .actions {
  opacity: 1.0;
}

.actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: #888;
}

.actions button.delete {
  color: red;
}

.actions button.delete:hover {
  text-shadow: 1px 1px 1px #CCC;
}

.actions button.edit {
  color: #034EA2;
}

.actions button.edit:hover {
  text-shadow: 1px 1px 1px #CCC;
}

.search-container {
  width: 100%;
  display: inline-block;
}

.search-input {
  display: inline;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 40px 12px 32px;
  border: 1px solid #DDD;
  border-radius: 8px;
  font-size: 0.8em;
  outline: none;
  transition: border-color 0.3s;
  color: #66676B;
}

.search-input:focus {
  border-color: #034EA2;
}

.search-icon {
  float: left;
  left: 5px;
  position: relative;
  transform: rotate(275deg) translateY(-1px) translateX(34px);
  font-size: 1.2em;
  color: #034EA2;
  pointer-events: none;
  border-color: #FFF;
}

.no-todos-disclaimer {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 14px;
  background: #fafafa;
  text-align: left;
}

.add-task-btn {
  background: #034EA2;
  color: #fff;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7em;
  border: white;
  justify-self: end;
  align-self: self-end;
  margin: 20px;
  position: fixed;
  bottom: 0px;
}

.todo-form {
  height: 100%;
  background: #FFF;
  padding: 20px;
  border-radius: 8px;
}

.todo-card {
  margin-bottom: 1px;
  border-bottom: 1px solid #DDD;
}

.dropdown-wrapper label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  width: 100%;
}

.todo-form input[type="text"],
.todo-form textarea,
.todo-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #DDD;
  border-radius: 3px;
  font-size: 0.8em;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.todo-form textarea {
  height: 70px;
  font-size: 1em;
  font-family: serif;
}

.todo-form .status-dropdown {
  width: 100%;
  position: relative; 
  font-family: sans-serif; 
}

.todo-form .status-dropdown .dropdown-header { 
  padding: 10px;
  background: #FFF;
  border: 1px solid #DDD;
  border-radius: 3px;
  cursor: pointer;
}

.todo-form .status-dropdown .status-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #FFF;
  border: 1px solid #DDD;
  margin-top: 10px;
  z-index: 10;
}

.todo-form .status-dropdown .status-menu-item {
  padding: 10px;
  cursor: pointer;
  background: #FFF;
  margin: 10px;
}

.todo-form .status-dropdown .status-menu-item.active {
  background: #DDD;
  border-radius: 3px;
}

textarea {
  resize: vertical;
}

.input-group {
  margin-top: 30px;
  width: 100%;
}

.dropdown-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: left;
  margin-bottom: 40px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.cancel-btn {
  width: 110px;
  height: 40px;
  background: #fff;
  border: 2px solid #034EA2;
  color: #034EA2;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.update-btn {
  width: 110px;
  height: 40px;
  background: #034EA2;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-btn:hover,
.update-btn:hover {
  opacity: 0.9;
}

.no-task-entry {
  border-bottom: 1px solid #DDD;
  padding-bottom: 20px;
  margin-bottom: 0px;
}
